*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
dotnetservice/nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
dotnetservice/[Dd]ebug/
dotnetservice/[Dd]ebugPublic/
dotnetservice/[Rr]elease/
dotnetservice/[Rr]eleases/
dotnetservice/x64/
dotnetservice/x86/
dotnetservice/build/
dotnetservice/bld/
dotnetservice/[Bb]in/
dotnetservice/[Oo]bj/
dotnetservice/[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn




react/node_modules/*
react/build/
.idea/
.DS_Store
react/settings.json
.vscode/
.env
