*.swp
*.*~
project.lock.json
*.pyc
nupkg/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn


### react 
node_modules/*
build/
settings.json

### Java

# Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
pom.xml.bak

# Package Files #
*.jar
*.war
*.ear


### IDEs
*.iml
.idea/
.vscode/
.env

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# System Files
.DS_Store
Thumbs.db
